@{
    ViewBag.Title = "Profile Settings";
    Layout = null;
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    ISession session = HttpContextAccessor.HttpContext.Session;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="position-relative mx-n4 mt-n4">
                        <div class="profile-wid-bg profile-setting-img">
                            <img src="~/assets/images/profile-bg.jpg" class="profile-wid-img" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-3">
                            <div class="card mt-n5">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                            <img src="~/assets/images/users/avatar-1.jpg"
                                                 class="rounded-circle avatar-xl img-thumbnail user-profile-image  shadow"
                                                 alt="user-profile-image">
                                        </div>
                                        <h5 class="fs-16 mb-1">
                                            @ViewBag.FirstName @ViewBag.Lastname
                                        </h5>
                                        <p class="text-muted mb-0">
                                            @ViewBag.Username
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-9">
                            <div class="card mt-xxl-n5">
                                <div class="card-header">
                                    <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
                                        role="tablist">
                                        @if (session.GetString("role") != "1")
                                        {
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#personalDetails"
                                               role="tab">
                                                <i class="fas fa-home"></i>
                                                Personal Details
                                            </a>
                                        </li>
                                        }
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#changePassword" role="tab">
                                                <i class="far fa-user"></i>
                                                Change Password
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body p-4">
                                    <div class="tab-content">
                                        @if (session.GetString("role") != "1")
                                        {
                                        <div class="tab-pane" id="personalDetails" role="tabpanel">
                                            <form action="@Url.Action("UpdateProfile", "Authentication")"
                                             method="post" id="updateProfile">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="first_name" class="form-label">
                                                                First
                                                                Name
                                                            </label>
                                                            <input type="text" class="form-control" id="first_name"
                                                                    name="first_name"
                                                                   placeholder="Enter your firstname" value="@ViewBag.FirstName">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="lastnameInput" class="form-label">
                                                                Last
                                                                Name
                                                            </label>
                                                            <input type="text" class="form-control" id="lastnameInput"
                                                                    name="last_name"
                                                                   placeholder="Enter your lastname" value="@ViewBag.Lastname">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="phonenumberInput" class="form-label">
                                                                Phone
                                                                Number
                                                            </label>
                                                            <input type="number"
                                                                     name="phone"   
                                                             class="form-control"
                                                                   id="phonenumberInput"
                                                                   placeholder="Enter your phone number"
                                                                   value="@ViewBag.Contact">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="emailInput" class="form-label">
                                                                Email
                                                                Address
                                                            </label>
                                                            <input type="email" 
                                                                name="email"
                                                            class="form-control" id="emailInput"
                                                                   placeholder="Enter your email"
                                                                   value="@ViewBag.Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="cgpa" class="form-label">
                                                                CGPA
                                                            </label>
                                                            <input type="text" 
                                                            name="cgpa"
                                                            class="form-control"
                                                                   placeholder="Enter your gcgpa"
                                                                   value="@ViewBag.CGPA">
                                                        </div>
                                                    </div>    
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="marks9" class="form-label">
                                                                9 Marks
                                                            </label>
                                                            <input type="text" class="form-control" id="marks9"
                                                                    name="marks9"
                                                                   placeholder="Enter your Standard 9 Marks" value="@ViewBag.MARKS9">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="marks10" class="form-label">
                                                                10 Marks
                                                            </label>
                                                            <input type="text" class="form-control" id="marks10" name="marks10"
                                                                   placeholder="Enter your Standard 10 Marks" value="@ViewBag.MARKS10">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="number" class="form-label">
                                                                11 Marks
                                                            </label>
                                                            <input type="text" class="form-control" id="marks11"
                                                                    name="marks11"
                                                                   placeholder="Enter your Standard 11 Marks" value="@ViewBag.MARKS11">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="marks12" class="form-label">
                                                                12 Marks
                                                            </label>
                                                            <input type="text" class="form-control" id="marks12"
                                                                    name="marks12"
                                                                   placeholder="Enter your Standard 12 Marks" value="@ViewBag.MARKS12">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="text-end">
                                                            <button type="submit" class="btn btn-success">
                                                                Update
                                                                Details
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </form>
                                        </div>
                                        }
                                        <!--end tab-pane-->
                                        <div class="tab-pane active" id="changePassword" role="tabpanel">
                                            <form action='@Url.Action("ChangePassword", "Authentication")' method="post">
                                                <div class="row g-2">
                                                    <div class="col-lg-4">
                                                        <div>
                                                            <label for="oldpasswordInput" class="form-label">
                                                                Old
                                                                Password*
                                                            </label>
                                                            <input type="password" class="form-control"
                                                                   id="oldpasswordInput"
                                                                   name="old_password"
                                                                   placeholder="Enter current password">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div>
                                                            <label for="newpasswordInput" class="form-label">
                                                                New
                                                                Password*
                                                            </label>
                                                            <input type="password" class="form-control"
                                                                   name="new_password"
                                                                   id="newpasswordInput" placeholder="Enter new password">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div>
                                                            <label for="confirmpasswordInput" class="form-label">
                                                                Confirm
                                                                Password*
                                                            </label>
                                                            <input type="password" class="form-control"
                                                                   id="confirmpasswordInput"
                                                                   name="con_password"
                                                                   placeholder="Confirm password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="text-end">
                                                            <button type="submit" class="btn btn-success">
                                                                Change
                                                                Password
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    @Html.Partial("~/Views/Shared/_customizer.cshtml")
    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    <script src="~/assets/js/pages/profile-setting.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            var error = "@(ViewBag.Error)";
            if (error) {
                toastr.error(error);
                @(ViewBag.Error = null)
            }

            var success = "@(ViewBag.Success)";
            if (success) {
                toastr.success(success);
                @(ViewBag.Success = null)
            }
        });
        $('#updateProfile').submit(function(e){
            e.preventDefault();
            var first_name = $('#first_name').val();
            var last_name = $('#lastnameInput').val();
            var phone = $('#phonenumberInput').val();
            var email = $('#emailInput').val();
            var cgpa = $('#cgpa').val();
            var marks9 = $('#marks9').val();
            var marks10 = $('#marks10').val();
            var marks11 = $('#marks11').val();
            var marks12 = $('#marks12').val();
            console.log(first_name, last_name, phone, email, cgpa, marks9, marks10, marks11, marks12);
            if (first_name == "" || last_name == "" || phone == "" || email == "" || cgpa == "" || marks9 == "" || marks10 == "" || marks11 == "" || marks12 == "") {
                toastr.error("Please fill all the fields");
            } else {
                const regex = /^[a-zA-Z]+$/;
                if (!regex.test(first_name)) {
                    toastr.error("First name should contain only alphabets");
                    return;
                }
                if (!regex.test(last_name)) {
                    toastr.error("Last name should contain only alphabets");
                    return;
                }
                const phoneRegex = /^[0-9]{10}$/;
                if (!phoneRegex.test(phone)) {
                    toastr.error("Phone number should contain only 10 digits");
                    return;
                }
                if (cgpa > 10) {
                    toastr.error("CGPA should be under 10");
                    return;
                }
                const marksRegex = /^[0-9]{1,3}$/;
                if (!marksRegex.test(marks9)) {
                    toastr.error("Marks should be in format 0-100");
                    return;
                }
                if (!marksRegex.test(marks10)) {
                    toastr.error("Marks should be in format 0-100");
                    return;
                }
                if (!marksRegex.test(marks11)) {
                    toastr.error("Marks should be in format 0-100");
                    return;
                }
                if (!marksRegex.test(marks12)) {
                    toastr.error("Marks should be in format 0-100");
                    return;
                }
                $('#updateProfile').unbind('submit').submit();
            }
        });
    </script>
</body>
</html>