@{
    ViewBag.Title = "Sign Up";
    Layout = null;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml")

    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include CSS for toast notifications -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


</head>
<body>

    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <a href="@Url.Action("Index", "Dashboard")" class="d-inlile-block auth-logo">
                                    <img src="~/assets/images/logo.jpg" alt="" height="60">
                                </a>
                            </div>
                            <p class="mt-3 fs-15 fw-semibold">
                                Placement and Training Management System
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p class="text-muted">Sign Up to continue to PTS.</p>
                                </div>
                                <div class="p-2 mt-4">
                                    <form action="@Url.Action("registerSubmit", "Authentication")" method="post" id="registerForm">

                                        <div class="mb-3">
                                            <label for="username" class="form-label">First Name</label>
                                            <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter First Name">
                                        </div>

                                        <div class="mb-3">
                                            <label for="username" class="form-label">Last Name</label>
                                            <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter Last Name">
                                        </div>

                                        <div class="mb-3">
                                            <label for="username" class="form-label">Email</label>
                                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter Last Name">
                                        </div>

                                        <div class="mb-3">
                                            <label for="username" class="form-label">Contact No</label>
                                            <input type="number" name="c_no" class="form-control" id="c_no" placeholder="Enter Last Name">
                                        </div>

                                        <div class="mb-3">
                                            <label for="username" class="form-label">En No</label>
                                            <input type="number" name="e_no" class="form-control" id="e_no" placeholder="Enter Enrollment No">
                                        </div>

                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="password-input">Password</label>
                                            <div class="position-relative auth-pass-inputgroup">
                                                <input type="password" class="form-control pe-5 password-input" name="password" onpaste="return false" placeholder="Enter password" id="password-input" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none shadow-none text-muted password-addon" type="button"
                                                        id="password-addon">
                                                    <i class="ri-eye-fill align-middle"></i>
                                                </button>
                                            </div>
                                            <div id="passwordInput" class="form-text">Must be at least 8 characters.</div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="confirm-password-input">Confirm Password</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" class="form-control pe-5 password-input" name="con_password" onpaste="return false" placeholder="Confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="con_password" required>
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none shadow-none text-muted password-addon" type="button" id="confirm-password-input"><i class="ri-eye-fill align-middle"></i></button>
                                            </div>
                                        </div>

                                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                            <h5 class="fs-13">Password must contain:</h5>
                                            <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                                            <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                                            <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                            <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                                        </div>

                                        <div class="mt-4">
                                            <button class="btn btn-success w-100" type="submit">Sign Up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->

                        <div class="mt-4 text-center">
                            <p class="mb-0">have an account ? <a href="@Url.Action("SignIn", "Authentication")" class="fw-bold text-primary text-decoration-underline">Sign In </a> </p>
                        </div>

                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-muted">&copy;
                            <script>document.write(new Date().getFullYear())</script> TPS. Crafted with <i class="mdi mdi-heart text-danger"></i> by PRIYANK SUTARIYA & FENIL SONANI</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")

    <!-- particles js -->
    <script src="~/assets/libs/particles.js/particles.js"></script>
    <!-- particles app js -->
    <script src="~/assets/js/pages/particles.app.js"></script>
    <!-- password-addon init -->
    <script src="~/assets/js/pages/password-addon.init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        // Check if ViewBag.Error is present and show toast message
        $(document).ready(function(){
            var error = "@(ViewBag.Error)";
            if (error) {
                toastr.error(error);
                @(ViewBag.Error = null)
            }
        });
        $('#registerForm').submit(function(e){
            e.preventDefault();
            var first_name = $('#first_name').val();
            var last_name = $('#last_name').val();
            var email = $('#email').val();
            var c_no = $('#c_no').val();
            var e_no = $('#e_no').val();
            var username = $('#username').val();
            var password = $('#password-input').val();
            var con_password = $('#con_password').val();
            if(first_name == '' || last_name == '' || email == '' || c_no == '' || e_no == '' || username == '' || password == '' || con_password == ''){
                toastr.error('All fields are required');
            }else{
                if(password != con_password){
                    toastr.error('Password and Confirm Password does not match');
                }else{
                    @* match regex for first_name,last_name,c_no,e_no,username *@
                    var regex = /^[a-zA-Z]+$/;
                    if(!regex.test(first_name)){
                        toastr.error('First Name should contain only alphabets');
                        return false;
                    }
                    if(!regex.test(last_name)){
                        toastr.error('Last Name should contain only alphabets');
                        return false;
                    }
                    var regex = /^[0-9]+$/;
                    if(!regex.test(c_no)){
                        toastr.error('Contact No should contain only numbers');
                        return false;
                    }
                    if(!regex.test(e_no)){
                        toastr.error('Enrollment No should contain only numbers');
                        return false;
                    }
                    var regex = /^[a-zA-Z0-9]+$/;
                    if(!regex.test(username)){
                        toastr.error('Username should contain only alphabets and numbers');
                        return false;
                    }
                    var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
                    if(!regex.test(password)){
                        toastr.error('Password should contain atleast 8 characters, 1 lowercase, 1 uppercase and 1 number');
                        return false;
                    }
                    @* $('#updateProfile').unbind('submit').submit(); *@
                    $('#registerForm').unbind('submit').submit();

                }
            }
        });

    </script>

</body>
</html>