@{
    ViewBag.Title = "Manager Interview";
    ViewBag.pTitle = "Manager Interview";
    ViewBag.pageTitle = "Manager Interview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
                                                <!--datatable css-->
                                                <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
                                                <!--datatable responsive css-->
                                                <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

                                                <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}
@* check that there is a message *@
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">
                                        Applied Interviews
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <table id="scroll-horizontal" class="table nowrap align-middle" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Student Name
                                            </th>
                                            <th>
                                                Enrollment No
                                            </th>
                                            <th>
                                                First Name
                                            </th>
                                            <th>
                                                Last Name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Contact No
                                            </th>
                                            <th>
                                                CGPA
                                            </th>
                                            <th>
                                                Marks 9
                                            </th>
                                            <th>
                                                Marks 10
                                            </th>
                                            <th>
                                                Marks 11
                                            </th>
                                            <th>
                                                Marks 12
                                            </th>    
                                            <th>
                                                Company Name
                                            </th>
                                            <th>
                                                Hiring Program
                                            </th>
                                            <th>
                                                Interview Date
                                            </th>
                                            <th>
                                                Interview Time
                                            </th>
                                            <th>
                                                Venue
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Enter Remarks
                                            </th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.AppliedInterviews)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Id
                                                </td>
                                                <td>
                                                    @item.Fname @item.Lname
                                                </td>
                                                <td>
                                                    @item.Enro
                                                </td>
                                                <td>
                                                    @item.Fname
                                                </td>
                                                <td>
                                                    @item.Lname
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.Contact_no
                                                </td>
                                                <td>
                                                    @item.CGPA
                                                </td>
                                                <td>
                                                    @item.Marks9
                                                </td>
                                                <td>
                                                    @item.Marks10
                                                </td>
                                                <td>
                                                    @item.Marks11
                                                </td>
                                                <td>
                                                    @item.Marks12
                                                </td>
                                                <td>
                                                    @item.Company_name
                                                </td>
                                                <td>
                                                    @item.Hiring_name
                                                </td>
                                                <td>
                                                    @item.Interview_date
                                                </td>
                                                <td>
                                                    @item.Interview_time
                                                </td>
                                                <td>
                                                    @item.Venue
                                                </td>
                                                <td>
                                                    @if (item.Status == 0)
                                                    {
                                                        <span class="badge bg-success">Applied</span>
                                                    }
                                                    else if (item.Status == 1)
                                                    {
                                                        <span class="badge bg-primary">Approved</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-warning">Rejected</span>
                                                    }
                                                </td>
                                                <td>
                                                    <form method="post" action="@Url.Action("AddRemarks", "Hiring")"style= "display: flex; align-items: center; gap: 10px;">
                                                        <input type="hidden" name="id" value="@item.Id" />
                                                        <input type="text" name="remark" class="form-control" placeholder="Enter Remarks" value="@item.Remark" style="width: 200px;" required />
                                                        <button type="submit" class="btn btn-primary">Add</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ApproveInterview", "Hiring", new { id = item.Id })" class="btn btn-primary">Approve</a>
                                                    <a href="@Url.Action("RejectInterview", "Hiring", new { id = item.Id })" class="btn btn-danger">Reject</a>
                                                </td>
                                            </tr>
                                            
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

@section scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!--datatable js-->
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

        <script src="~/assets/js/pages/datatables.init.js"></script>

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>
}