@{
    // using Microsoft.EntityFrameworkCore.Metadata.Internal; // Removed as it's not a type
    ViewBag.Title = "Playlist | Training And Placement Cell";
    ViewBag.pTitle = "Dashboard";
    ViewBag.pageTitle = "Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    ISession session = HttpContextAccessor.HttpContext.Session;
}

@section styles {
    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Playlist Details</h4>
            </div>
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>@ViewBag.Error</p>
                    </div>
                }
            </div>
            <div class="p-3">
                @if (ViewBag.Playlist == null)
                {
                    <form action="@Url.Action("addorEditPlaylist", "Video")" method="post" class="form" id="playlist-form">
                        <div class="mb-2">
                            <input type="checkbox" name="youtubelinkcheckbox" id="youtubelinkcheckbox">
                            <label for="youtubelinkcheckbox" class="form-label">Youtube link</label>
                        </div>
                        <div class="mb-3 d-none">
                            <label for="playlistYoutubeLink" class="form-label">Youtube Playlist Link</label>
                            <input type="text" name="playlistYoutubeLink" class="form-control " id="playlistYoutubeLink"
                                placeholder="Enter Youtube Playlist Link">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Playlist Name">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" class="form-control" id="description"
                                placeholder="Enter Description"></textarea>
                        </div>
                        <div class="mb-3" id="courseSelection">
                            <label for="course" class="form-label">Course</label>
                            @if (ViewBag.Courses == null || ViewBag.Courses.Count == 0)
                            {
                                <p>No courses found. Please <a href="@Url.Action("AddCourse", "Course")">add a course</a>.
                                </p>
                            }
                            else
                            {
                                <select class="form-select" name="course" id="course">
                                    <option value="-1">Select Course</option>
                                    @foreach (var item in ViewBag.Courses)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            }
                        </div>
                        @* title for videos *@
                        <div id="videoUrlsContainer">
                            <h4 class="card-title">Add Videos</h4>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="text" name="videoUrls[]" class="form-control video-url link"
                                    placeholder="Enter Video URL">
                                <button type="button" class="btn btn-success add-video ms-2">+</button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                    </form>
                }
                else
                {
                    <form action="@Url.Action("addorEditPlaylist", "Video")" method="post" class="form" id="playlist-form">
                        <input type="hidden" name="id" value="@ViewBag.Playlist.ID">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Playlist Name"
                                value="@ViewBag.Playlist.name">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" class="form-control" id="description"
                                placeholder="Enter Description">@ViewBag.Playlist.description</textarea>
                        </div>
                        <div class="mb-3" id="courseSelection">
                            <label for="course" class="form-label">Course</label>
                            @if (ViewBag.Courses == null || ViewBag.Courses.Count == 0)
                            {
                                <p>No courses found. Please <a href="@Url.Action("AddCourse", "Course")">add a course</a>.
                                </p>
                            }
                            else
                            {
                                <select class="form-select" name="course" id="course">
                                    <option value="-1">Select Course</option>
                                    @foreach (var item in ViewBag.Courses)
                                    {
                                        @if (item.ID == ViewBag.Playlist.courseID)
                                        {
                                            <option value="@item.ID" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            }
                        </div>
                        @* title for videos *@
                        <div id="videoUrlsContainer">
                            <h4 class="card-title">Add Videos</h4>

                            @foreach (var item in ViewBag.Videos)
                            {
                                <div class="mb-3 d-flex align-items-center">
                                    <input type="text" name="videoUrls[]" class="form-control video-url link"
                                        placeholder="Enter Video URL" value="https://www.youtube.com/watch?v=@item.link">
                                    @if (item == ViewBag.Videos[0])
                                    {
                                        <button type="button" class="btn btn-success add-video ms-2">+</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-danger remove-video ms-2">-</button>
                                    }
                                </div>
                                <input type="text" class="form-control mb-2" name="videoTitles[]" value="@item.title">
                            }
                            @if (ViewBag.Videos.Count == 0)
                            {
                                <div class="mb-3 d-flex align-items-center">
                                    <input type="text" name="videoUrls[]" class="form-control video-url link"
                                        placeholder="Enter Video URL">
                                    @* <input type="text" class="form-control mb-2" name="videoTitles[]"> *@
                                    <button type="button" class="btn btn-success add-video ms-2">+</button>
                                </div>
                            }
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitBtn">Update</button>
                        <button type="button" class="btn btn-danger" id="backBtn">Back</button>
                    </form>
                }
            </div>
        </div>

    </div>
    <div class="col-md-12 col-lg-6 d-none youtubePreviewContainer">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Youtube Playlist Thumbnail</h4>
            </div>
            <div class="card-body">
                <div id="youtubePreview" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  table of playlists -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Playlists</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-nowrap align-middle table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Course</th>
                                <th scope="col">Videos</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Playlists == null || ViewBag.Playlists.Count == 0)
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No playlists found.</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in ViewBag.Playlists)
                                {
                                    <tr>
                                        <th scope="row">@item.ID</th>
                                        <td>@item.name</td>
                                        <td>@item.description</td>
                                        <td>@item.courseName</td>
                                        <td>@item.totalVideos</td>
                                        <td>
                                            <a href="@Url.Action("playlist", "Video", new { id = item.ID })"
                                                class="btn btn-primary btn-sm">Edit</a>
                                            <a href="@Url.Action("deletePlaylist", "Video", new { id = item.ID })"
                                                class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <!-- apexcharts -->
        <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

        <!-- Vector map-->
        <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
        <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

        <!--Swiper slider js-->
        <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

        <!-- Dashboard init -->
        <script src="~/assets/js/pages/dashboard-ecommerce.init.js"></script>

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>


        <script src="~/assets/js/youtubeVideo.js"></script>

        <script>
            $(document).ready(function () {
                // Add video input box on click of '+' button
                $(document).on('click', '.add-video', function () {
                    var html = '<div class="mb-3 d-flex align-items-center"><input type="text" name="videoUrls[]" class="form-control video-url link" placeholder="Enter Video URL"><button type="button" class="btn btn-danger remove-video ms-2">-</button></div>';
                    $('#videoUrlsContainer').append(html);
                });

                // Remove video input box on click of '-' button
                $(document).on('click', '.remove-video', function () {
                    $(this).closest('.mb-3').remove();
                });

                function appendVideoTitle(input, title) {
                    // input.parent().after('<p class="text-success">' + title + '</p>');
                    input.parent().after('<input type="text" class="form-control mb-2" name="videoTitles[]" value="' + title + '">');
                }

                function removeVideoTitle(input) {
                    input.parent().next().remove();
                }

                // Hide an input box if the link is erased
                $(document).on('input', '.video-url', function () {
                    var input = $(this);
                    var value = $(this).val();

                    // Check if the value is empty and it's not the first input field
                    if (!value && input.closest('.mb-3').index() !== 1) {
                        input.parent().remove();
                        removeVideoTitle(input);
                    }
                    else if (isValidYouTubeUrl(value)) {
                        var videoId = extractVideoId(value);
                        if (videoId) {
                            getYouTubeVideoInfo(value, function (error, data) {
                                if (!error) {
                                    appendVideoTitle(input, data.snippet.title);
                                    $("#submitBtn").prop("disabled", false);
                                } else {
                                    removeVideoTitle(input);
                                    // also remove the link itself if not first
                                    if (input.closest('.mb-3').index() !== 1) {
                                        input.parent().remove();
                                    } else {
                                        input.val("");
                                    }
                                    $("#youtubePreview").html("");
                                    $("#submitBtn").prop("disabled", true);
                                    toastr.error("Error fetching video information. Please try again later.");
                                }
                            });
                        } else {
                            removeVideoTitle(input);
                            $("#youtubePreview").html("");
                            $("#submitBtn").prop("disabled", true);
                        }
                    } else {
                        removeVideoTitle(input);
                    }
                });
            });



        </script>
        <script src="~/assets/js/validation.js"></script>
        <script>
            $(document).ready(function () {
                // Add custom validation methods
                $.validator.addMethod("noSpecialChars", function (value, element) {
                    return this.optional(element) || /^[a-zA-Z0-9\s\-/.|]+$/.test(value);
                }, "Special characters are not allowed except '-', '.', '/', '|'");

                $.validator.addMethod("courseNotSelected", function (value, element) {
                    return value !== "-1";
                }, "Please select a course.");

                // Initialize form validation
                $("#playlist-form").validate({
                    rules: {
                        name: {
                            required: true,
                            noSpecialChars: true
                        },
                        description: {
                            required: true,
                            noSpecialChars: true
                        },
                        course: {
                            courseNotSelected: true
                        },
                        "videoUrls[]": {
                            required: true
                        },
                        "videoTitles[]": {
                            required: true
                        }
                    },
                    messages: {
                        name: {
                            required: "Please enter a name.",
                            noSpecialChars: "Special characters are not allowed except '-', '.', '/', '|'"
                        },
                        description: {
                            required: "Please enter a description.",
                            noSpecialChars: "Special characters are not allowed except '-', '.', '/', '|'"
                        },
                        "videoUrls[]": {
                            required: "Please enter at least one video URL."
                        },
                        "videoTitles[]": {
                            required: "Please enter the title of the video."
                        },
                        course: {
                            courseNotSelected: "Please select a course."
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.attr("name") == "videoUrls[]") {
                            error.insertAfter(element.closest(".mb-3"));
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            });
        </script>

        @* for youtube link *@
        <script>
            function isValidYouTubePlaylistUrl(url) {
                var youtubeRegex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]list=))([^\/\n\s&]+)/;
                return youtubeRegex.test(url);
            }

            $(document).ready(function () {

                function resetForm() {
                    $('#name').val('');
                    $('#description').val('');
                    $('#playlistYoutubeLink').val('');
                    $('#videoUrlsContainer').html('<h4 class="card-title">Add Videos</h4><div class="mb-3 d-flex align-items-center"><input type="text" name="videoUrls[]" class="form-control video-url link" placeholder="Enter Video URL"><button type="button" class="btn btn-success add-video ms-2">+</button></div>');
                    $('#youtubePreview').html('');
                }

                // youtubelinkcheckbox checked append youtube playlist link
                $('#youtubelinkcheckbox').change(function () {
                    if (this.checked) {
                        $('#playlistYoutubeLink').parent().removeClass('d-none');
                        $('.youtubePreviewContainer').removeClass('d-none');
                    } else {
                        $('#playlistYoutubeLink').parent().addClass('d-none');
                        $('.youtubePreviewContainer').addClass('d-none');

                        // resetForm
                        resetForm();
                    }
                });

                // if youtubeVideoLink is changed then fill up from by fetching data from youtube
                $('#playlistYoutubeLink').change(function () {
                    var link = $(this).val();
                    resetForm();
                    $(this).val(link);
                    if (link !== "" && isValidYouTubePlaylistUrl(link)) {
                        getYouTubePlaylistInfo(link, function (error, data) {
                            if (!error) {
                                console.log(data);
                                $('#name').val(data.snippet.title);
                                $('#description').val(data.snippet.description);
                                $('#youtubePreview').html('<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=' + data.id + '" allowfullscreen></iframe>');

                                // set all the videos in the form

                                var playlistId = data.id;
                                getYouTubePlaylistVideos(playlistId, function (error, videos) {
                                    if (!error) {
                                        var videoUrls = $('.video-url');
                                        var videoTitles = $('input[name="videoTitles[]"]');
                                        var numVideos = videos.length;

                                        // Ensure there are enough form fields for all videos
                                        while (videoUrls.length < numVideos) {
                                            $('.add-video').trigger('click');
                                            videoUrls = $('.video-url');
                                            videoTitles = $('input[name="videoTitles[]"]');
                                        }

                                        // Fill form fields with video URLs and titles
                                        for (var i = 0; i < numVideos; i++) {
                                            $(videoUrls[i]).val('https://www.youtube.com/watch?v=' + videos[i].id);
                                            //    $(videoTitles[i]).val(videos[i].title);

                                            // trigger input event to fetch video title
                                            $(videoUrls[i]).trigger('input');
                                        }
                                    } else {
                                        console.log(error);
                                        toastr.error("Error fetching playlist videos. Please try again later.");
                                    }
                                });


                            } else {
                                console.log(error);
                                // toastr.error("Error fetching playlist information. Please try again later.");
                                toastr.error(error + "Please try again later.");
                            }
                        });
                    } else {
                        toastr.error("Please enter a valid youtube playlist link.");
                    }
                });

                // on back button click
                $('#backBtn').click(function () {
                    window.location.href = '/Video/Playlist';
                });
            });

        </script>
    }