@{
    ViewBag.Title = "Playlist | Training And Placement Cell";
    ViewBag.pTitle = "Dashboard";
    ViewBag.pageTitle = "Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    ISession session = HttpContextAccessor.HttpContext.Session;
}

@section styles {
    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add New Playlist </h4>
            </div>
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>@ViewBag.Error</p>
                    </div>
                }
            </div>
            <div class="p-3">
                <form action="@Url.Action("addorEditPlaylist", "Video")" method="post" class="form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Playlist Name">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" class="form-control" id="description"
                            placeholder="Enter Description">
                    </textarea>
                    </div>
                    <div class="mb-3" id="courseSelection">
                        <label for="course" class="form-label">Course</label>
                        @if (ViewBag.Courses == null || ViewBag.Courses.Count == 0)
                        {
                            <p>No courses found. Please <a href="@Url.Action("AddCourse", "Course")">add a course</a>.
                            </p>
                        }
                        else
                        {
                            <select class="form-select" name="course" id="course">
                                <option value="-1">Select Course</option>
                                @foreach (var item in ViewBag.Courses)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        }
                    </div>
                    @* title for videos *@
                    <div id="videoUrlsContainer">
                        <h4 class="card-title">Add Videos</h4>
                        <div class="mb-3 d-flex align-items-center">
                            <input type="text" name="videoUrls[]" class="form-control video-url link"
                                placeholder="Enter Video URL">
                            <button type="button" class="btn btn-success add-video ms-2">+</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="~/assets/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>


    <script src="~/assets/js/youtubeVideo.js"></script>

    <script>

        $(document).ready(function () {
            // Add video input box on click of '+' button
            $(document).on('click', '.add-video', function () {
                var html = '<div class="mb-3 d-flex align-items-center"><input type="text" name="videoUrls[]" class="form-control video-url link" placeholder="Enter Video URL"><button type="button" class="btn btn-danger remove-video ms-2">-</button></div>';
                $('#videoUrlsContainer').append(html);
            });

            // Remove video input box on click of '-' button
            $(document).on('click', '.remove-video', function () {
                $(this).closest('.mb-3').remove();
            });

            function appendVideoTitle(input, title) {
               // input.parent().after('<p class="text-success">' + title + '</p>');
                input.parent().after('<input type="text" class="form-control mb-2" name="videoTitles[]" value="' + title + '">');
            }

            function removeVideoTitle(input) {
                input.parent().next().remove();
            }

            // Hide an input box if the link is erased
            $(document).on('input', '.video-url', function () {
                var input = $(this);
                var value = $(this).val();

                // Check if the value is empty and it's not the first input field
                if (!value && input.closest('.mb-3').index() !== 1) {
                    input.parent().remove();
                    removeVideoTitle(input);
                }
                else if (isValidYouTubeUrl(value)) {
                    var videoId = extractVideoId(value);
                    if (videoId) {
                        getYouTubeVideoInfo(value, function (error, data) {
                            if (!error) {
                                appendVideoTitle(input, data.snippet.title);
                                  $("#submitBtn").prop("disabled", false); 
                            } else {
                                removeVideoTitle(input);
                                $("#youtubePreview").html("");
                                $("#submitBtn").prop("disabled", true);
                                toastr.error("Error fetching video information. Please try again later.");
                            }
                        });
                    } else {
                        removeVideoTitle(input);
                        $("#youtubePreview").html("");
                        $("#submitBtn").prop("disabled", true);
                    }
                }else {
                    removeVideoTitle(input);
                }
            });
        });


    </script>
}